[submodule "asyn"]
	path = asyn
	url = https://github.com/epics-modules/asyn.git
[submodule "sscan"]
	path = sscan
	url = https://github.com/epics-modules/sscan.git
[submodule "iocStats"]
	path = iocStats
	url = https://github.com/epics-modules/iocStats.git
[submodule "calc"]
	path = calc
	url = https://github.com/epics-modules/calc.git
[submodule "busy"]
	path = busy
	url = https://github.com/epics-modules/busy.git
[submodule "autosave"]
	path = autosave
	url = https://github.com/epics-modules/autosave.git
[submodule "epics-base"]
	path = epics-base
	url = https://github.com/epics-base/epics-base.git
[submodule "areaDetector"]
	path = areaDetector
	url = https://github.com/areaDetector/areaDetector.git
[submodule "motor"]
	path = motor
	url = https://github.com/epics-modules/motor.git
