#!/usr/bin/make -f
# -*- makefile -*-

clean:
	make release
	make clean

build:
	make release
	make
	make install DESTDIR=debian/epics-modules
	dh_makeshlibs
	dh_shlibdeps -X "linux-x86/" \
		         -X "stream/pcre" \
				 -X "spinnakerSupport" \
				 -X "ADViewers/IDL" \
				 -X "os/Linux/" \
				 -X "andorIOC"
	dh_gencontrol
	dh_builddeb

#%:
#	dh $@ 
#
#override_dh_auto_configure:
#
#override_dh_auto_test:
#
#override_dh_auto_build:
#	make release
#	make 
#	make release SUPPORT=/opt/epics 
#
#override_dh_auto_install:
#	dh_auto_install -- prefix=/opt
#
#override_dh_shlibdeps:
#	dh_shlibdeps -X andorSupport -X andor3Support -X pointGreySupport \
#		-X spinnakerSupport -X pcre -X pvcamSupport -X libezcaIDL
