ASYN=$(SUPPORT)/asyn
AUTOSAVE=$(SUPPORT)/autosave
BUSY=$(SUPPORT)/busy
CALC=$(SUPPORT)/calc
SSCAN=$(SUPPORT)/sscan
DEVIOCSTATS=$(SUPPORT)/iocStats
SNCSEQ=$(SUPPORT)/seq
AREA_DETECTOR=$(SUPPORT)/areaDetector
ADCORE=$(AREA_DETECTOR)/ADCore
MOTOR=$(SUPPORT)/motor
MODBUS=$(SUPPORT)/modbus
STREAM=$(SUPPORT)/stream
QUADEM=$(SUPPORT)/quadEM
IPAC=$(SUPPORT)/ipac
IPUNIDIG=$(SUPPORT)/ipUnidig
